# Bharat Quest Environment Configuration
APP_NAME=Bharat Quest: An Interactive Living Museum
SIH_PROBLEM_STATEMENT=26208
CIVILIZATION=Indus Valley Civilization (IVC)
HOST=127.0.0.1
PORT=8000
MONGODB_URI=mongodb://localhost:27017
DATABASE_NAME=bharat_quest_db
DEBUG=True
